* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
}
/* Fix MUI stickyHeader alignment */
th.MuiTableCell-stickyHeader { text-align: inherit !important; }
th.MuiTableCell-stickyHeader[align='right'] { text-align: right !important; }
th.MuiTableCell-stickyHeader[align='center'] { text-align: center !important; }
